main{
    padding-top: 5%;
    margin-left: 4%;
}

.card{
    width: 18rem !important;
}

.card-img-top{
    width: 100% !important;
    height: 100% !important;
}

.btn{
    color: black;
    border: 1px solid black !important;
}

.btn:hover{
    color: black !important;
    opacity: 0.5 !important;
}
.card{
    display: inline-block;
    margin-right: 4%;
}

.card-body{
    text-align: center;
}

.buttonVerProducto{
    background-color: white;
}

.buttonVerProducto:hover{
    background-color: gray;
}

a:link{
    text-decoration: none;
}

