nav {
  background-color: black;
  opacity: 0.9;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}


li p {
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 18px;
  padding: 2px;
  color: whitesmoke;
}  

h1{
  text-align: center;
}

.buttonCarrito {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 0px;
  border: none;
  background-color: white;
}  

img {
  height: 35px;
  width: 35px;
}  

.busquedas:hover{
  cursor: pointer;
  opacity: 0.5;
  border-radius: 10px;
}  

.dropdown-menu{
  text-align: center !important;
  background-color: black !important;
  padding: 0 !important;
}  

.dropdown-item{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: black !important;
  color: white !important;
}  

.dropdown-item:hover{
  opacity: 0.5 !important;
}  

.logoCarrito{
  margin-right: 5px;
}  

.cart {
  width: 100%;
  justify-content: end;
}  

.buttonCategory,.buttonCategory:hover{
    background-color: black ;
    padding: 0;
    margin: 0;
}

.pCategory{
  padding: 0;
}
